@import "bootstrap-sprockets";
@import "bootswatch/sandstone/variables";
@import "bootstrap";
@import "bootswatch/sandstone/bootswatch";
@import "font-awesome";

.alert {
  position: absolute;
  z-index: 1;
  width: 200px;
}